@charset "UTF-8";
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}
/* 블라인드 효과 */
/* 클리어 픽스 */
body,
div,
dl,
dd,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
input,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 시멘틱 태그 초기화 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  color: #222;
  font-family: "GmarketSans", "AppleSDGothicNeo-Regular", "Malgun Gothic", "맑은 고딕", dotum, 돋움;
}

a {
  text-decoration: none;
  color: #222;
}

li,
ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

em,
address {
  font-style: normal;
}

img {
  width: 100%;
  vertical-align: top;
}

img,
fieldset,
button {
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eee;
}

#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#header .header__inner {
  position: relative;
  text-align: center;
  border-bottom: 3px solid #000;
}
#header .header__inner:hover .star {
  transform: rotate(700deg);
}
#header .header__inner h1 {
  width: 100%;
  font-size: 20px;
  padding: 20px 0;
  position: relative;
}
#header .header__inner h1 a {
  background: #eee;
  display: inline-block;
  padding: 0 10px;
}
#header .header__inner h1::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
#header .header__inner .left {
  position: absolute;
  left: 0;
  top: 14px;
}
#header .header__inner .left .star {
  background-image: url("data:image/svg+xml,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 0L6.12257 3.45492H9.75528L6.81636 5.59017L7.93893 9.04508L5 6.90983L2.06107 9.04508L3.18364 5.59017L0.244718 3.45492H3.87743L5 0Z' fill='black'/%3e%3c/svg%3e");
  transition: transform 1s ease-out;
}
#header .header__inner .left a {
  background: #eee;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: inline-block;
}
#header .header__inner .right {
  position: absolute;
  right: 0;
  top: 21px;
}
#header .header__inner .right li {
  display: inline;
}
#header .header__inner .right li a {
  background: #eee;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.8rem;
}
#header .header__inner .right li a.black {
  background: #000;
  color: #fff;
}
#header .header__inner .right li.active a {
  background: #000;
  color: #fff;
}
#header .header__inner .nav {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translateX(-50%);
  z-index: 10;
}
#header .header__inner .nav li {
  display: inline;
  transition: all 0.2s;
}
#header .header__inner .nav li span {
  position: relative;
  z-index: 100;
}
#header .header__inner .nav li a {
  display: inline-block;
  background: #eee;
  padding: 3px 6px;
  border: 1px solid #000;
  margin: 0 1px;
  position: relative;
  z-index: 10;
}
#header .header__inner .nav li a::before {
  content: "";
  background: #000;
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.2s;
  z-index: 1;
}
#header .header__inner .nav li a:hover::before {
  height: 100%;
}
#header .header__inner .nav li:hover a {
  color: #fff;
}

#footer h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 0.8rem;
  color: #666;
}

#banner h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.banner__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
  border-bottom: 3px solid #000;
  padding: 60px 0;
}
.banner__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.banner__inner .img {
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  filter: saturate(0%);
  transition: all 1s;
}
.banner__inner .desc {
  width: 65%;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
.banner__inner .desc em {
  color: #927352;
  position: relative;
  transition: color 0.3s;
}
.banner__inner .desc em::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #f0dac2;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.6s;
}
.banner__inner:hover .img {
  filter: saturate(100%);
}
.banner__inner:hover .desc em {
  color: #000;
}
.banner__inner:hover .desc em::before {
  width: 100%;
}

.banner__inner2 {
  position: relative;
  border-bottom: 3px solid #000;
  padding: 60px 0;
  text-align: center;
}
.banner__inner2::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.banner__inner2 .img {
  width: 25%;
  margin: 0 auto;
  overflow: hidden;
  transition: all 1s;
  margin-bottom: 2rem;
}
.banner__inner2 .desc {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
.banner__inner2 .desc em {
  color: #927352;
  position: relative;
  transition: color 0.3s;
}
.banner__inner2 .desc em::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #f0dac2;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.6s;
}
.banner__inner2:hover .desc em {
  color: #000;
}
.banner__inner2:hover .desc em::before {
  width: 100%;
}

#card h2 {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 50px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
  border-bottom: 3px solid #000;
  padding-bottom: 70px;
}
.card__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.card__inner > div {
  width: 24%;
}
.card__inner > div figure {
  position: relative;
  overflow: hidden;
}
.card__inner > div figure img {
  filter: saturate(0%);
  transition: all 0.3s;
}
.card__inner > div figure img:hover {
  filter: saturate(100%);
}
.card__inner > div figure .go {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  text-align: center;
  line-height: 31px;
  transform: translateX(100px) rotate(760deg);
  opacity: 0;
  transition: all 0.6s ease;
}
.card__inner > div figure:hover .go {
  opacity: 1;
  transform: translateX(0) rotate(0);
}
.card__inner > div h3 {
  font-size: 1.3rem;
  line-height: 2;
  margin-top: 0.3em;
}
.card__inner > div p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

#ad h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.ad__inner {
  position: relative;
  border-bottom: 3px solid #000;
  margin-top: 40px;
}
.ad__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.ad__inner .ad {
  height: 120px;
  background-color: #ccc;
  margin-bottom: 40px;
}

body.fixed {
  overflow: hidden;
}

.login__popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
.login__popup.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__inner {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.login__header h3 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 3px solid #000;
}
.login__header h3::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.login__contents {
  position: relative;
  border-bottom: 3px solid #000;
  padding-bottom: 20px;
  padding-top: 10px;
}
.login__contents::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.login__contents legend, .login__contents label {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.login__footer {
  padding: 30px 0 0;
}
.login__footer .btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.login__footer .btn a {
  width: 32%;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.login__footer .desc {
  padding: 20px 0;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
}
.login__footer .btn-close {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.569087 16.9239C0.235697 16.5923 0.235697 16.0548 0.569087 15.7232L15.4593 0.915408C15.7927 0.583862 16.3332 0.583861 16.6666 0.915407C17 1.24695 17 1.7845 16.6666 2.11604L1.7764 16.9239C1.44301 17.2554 0.902478 17.2554 0.569087 16.9239Z' fill='white'/%3e%3cpath d='M0.500043 1.0763C0.833434 0.744756 1.37397 0.744756 1.70736 1.0763L16.5976 15.8841C16.931 16.2157 16.931 16.7532 16.5976 17.0848C16.2642 17.4163 15.7237 17.4163 15.3903 17.0848L0.500043 2.27694C0.166653 1.94539 0.166652 1.40785 0.500043 1.0763Z' fill='white'/%3e%3c/svg%3e");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.login__footer .btn-close span {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.input__style {
  background-color: #f5f5f5;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
}

.input__button {
  border-radius: 5px;
  width: 100%;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

#joinAgree {
  position: relative;
  border-bottom: 3px solid #000;
  padding: 70px 0;
}
#joinAgree::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
#joinAgree h2 {
  text-align: center;
  font-size: 40px;
}

.agree__inner {
  padding: 100px 200px;
}
.agree__inner > div {
  margin-bottom: 50px;
}
.agree__inner > div h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
.agree__inner > div .desc {
  background-color: #f5f5f5;
  padding: 20px;
  color: #666;
  font-weight: 300;
  line-height: 1.5;
  height: 200px;
  overflow-y: scroll;
  font-size: 1.1rem;
}
.agree__inner .btn {
  width: 400px;
  background: #000;
  color: #fff;
  margin: 0 auto;
  display: block;
  font-size: 1.3rem;
  border-radius: 50px;
  padding: 0.7em;
  text-align: center;
}
.agree__inner .check {
  margin-top: 5px;
}

#join {
  position: relative;
  border-bottom: 3px solid #000;
  padding: 70px 0;
}
#join::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
#join h2 {
  text-align: center;
  font-size: 40px;
}

.join__inner {
  padding: 100px 200px;
}
.join__inner legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.join__box > div {
  margin-bottom: 30px;
}
.join__box > div label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.join__box > div input {
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
}

.join__btn {
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#board h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.board__inner {
  position: relative;
  border-bottom: 3px solid #000;
  padding: 70px 0;
}
.board__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.board__search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin-bottom: 20px;
  align-items: flex-end;
}
.board__search .left em {
  color: red;
}
.board__search .right legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__search .right #searchKeyword {
  border: 1px solid #c6c6c6;
  padding: 13px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #666;
  box-sizing: border-box;
}
.board__search .right #searchOption {
  border: 1px solid #c6c6c6;
  padding: 13px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #666;
  box-sizing: border-box;
}
.board__search .right .searchBtn {
  border: 1px solid #c6c6c6;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  color: #000;
}
.board__search .right .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.board__table table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.board__table td,
.board__table th {
  padding: 20px 5px;
  border-bottom: 1px solid #000;
}
.board__table th {
  font-weight: 500;
  background-color: #e0e0e0;
}
.board__table td {
  text-align: center;
}
.board__table tr:hover {
  background-color: #e0e0e0;
}

.board__pages {
  margin: 70px 0 50px;
}
.board__pages ul {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__pages ul li a {
  border: 1px solid #d4d4d4;
  padding: 13px 10px;
  margin-right: -1px;
}
.board__pages ul li.active a {
  background: #000;
  color: #fff;
}

.board__view table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.board__view th,
.board__view td {
  padding: 20px;
  border-bottom: 1px solid #000;
}
.board__view th {
  background-color: #e0e0e0;
  font-weight: 500;
}
.board__view td {
  line-height: 1.5;
}
.board__view td.height {
  min-height: 500px;
  display: block;
  border-bottom: 0;
}

.board__btn {
  text-align: right;
}
.board__btn a {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
}

.board__write legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__write label {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.board__write input {
  display: block;
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 30px;
  outline: none;
}
.board__write textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
}
.board__write .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.board__modify legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__modify label {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.board__modify input {
  display: block;
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 30px;
  outline: none;
}
.board__modify textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 30px;
}
.board__modify .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

.board__title h3 {
  font-size: 46px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.board__title p {
  font-size: 22px;
  margin-bottom: 80px;
  font-weight: 300;
}